

body{
font-family:Arial;
}


html{
overflow-x: hidden;		
}

body{
background:rgb(223,245,196);	

}

Header{
display: flex;
flex-direction:column;
position:fixed;
height:max(22vh,120px);
background:rgb(223,245,196);
z-index:10;
}


.Top_Line{
display:flex;
justify-content:space-around;
align-items:center;
height:max(13vh,71px);
width:max(99.9vw,1000px);
}

.DaysOfWeek{
display:flex;
align-items:center;
justify-content:space-between;
height:100%;
width:53%;	
}

.DaysOfWeek>li{
display:flex;
justify-content:center;
align-items:center;
height:80%;
width:13%;

border-width:4px;
border-style:solid;
border-color:black;
border-radius:8vw;

font-size:max(3vw,38px);

cursor: pointer;
}


.Excel{
	
display:flex;
justify-content:center;
align-items:center;
height:72%;
width:12%;

background:#008000;

border-width:4px;
border-style:solid;
border-color:black;

font-size:max(1.8vw,20px);
text-align:center;
color:white;
}



.Date{
	
display:flex;
justify-content:center;
align-items:center;
height:72%;
width:12%;	

background:#008000;

border-width:4px;
border-style:solid;
border-color:black;

font-size:max(1.8vw,20px);	
text-align:center;
color:white;	
}

.Time{
	
display:flex;
justify-content:center;
align-items:center;
height:72%;
width:12%;

background:#008000;

border-width:4px;
border-style:solid;
border-color:black;

font-size:max(1.8vw,20px);
color:white;		
}


.Bottom_Line{
display:flex;
justify-content:space-around;
align-items:center;
height:max(9vh,49px);
width:max(99.9vw,1000px);
}


.NameOfInstitute{

display:flex;
justify-content:center;
align-items:center;
height:89%;
width:22.25%;

background:#008000;

border-width:4px;
border-style:solid;
border-color:black;

font-size:max(1.8vw,20px);
text-align:center;	
color:white;

cursor:pointer;
}


.Group{
	
display:flex;
justify-content:space-evenly;
align-items:center;
height:89%;
width:22.25%;

background:#008000;

border-width:4px;
border-style:solid;
border-color:black;
}

.Group>input{

position:relative;

left:3%;

display:flex;
justify-content:center;
align-items:center;

height:max(6vh,33px);
width:30%;

background:#008000;

border-width:2px 2px 2px 2px;
border-style:solid;
border-color:black;

font-size:1.9vw;	

font-size:max(1.8vw,20px);
	
color:white;
text-align:center;

}


.Group>p{
	
position:relative;

right:3%;
	
display:flex;
justify-content:center;
align-items:center;

height:max(8vh,44px);

font-size:max(1.8vw,20px);
text-align:center;	
color:white;


}



.SubGroup{
	
display:flex;
justify-content:center;
align-items:center;
height:89%;
width:22.25%;

background:#008000;

border-width:4px;
border-style:solid;
border-color:black;

font-size:max(1.8vw,20px);
text-align:center;	
color:white;

cursor:pointer;
}

.Week{
	
display:flex;
justify-content:center;
align-items:center;
height:89%;
width:22.25%;

background:#008000;

border-width:4px;
border-style:solid;
border-color:black;

font-size:max(1.8vw,20px);
color:white;	

cursor:pointer;	
	
}


.EmptyBlock{
height:max(22vh,120px);	

}



section{

display:none;
	
}

.StringInTimetable{
display:flex;
margin-top:max(2.3vh,16px);
background:white;
width:100vw;

width:max(100vw,1000px);



position:relative;

}


.Lesson_Coordinates{	
position:absolute;

left:0px;

width:25.55vw;

width:max(25.55vw,250px);


display:flex;

height:100%; 

border-width:0px 15px 0px 0px;

border-style:solid;

border-color:rgb(223,245,196);

}

.DataOfLesson{

position:relative;

width:74.45vw;
height:auto;

left:max(25.55vw,250px);
	
}




.TimeOfLesson{

position:relative;

left:min(-25.55vw,-250px);

padding-left:2vw;
padding-top:2vh;

font-size:40px;
text-align:start;	
	
}

.TypeOfLesson,.Subject,.Auditorium,.Teacher {		
display:flex;
justify-content:center;
align-items:center;

margin-top:max(1.2vh,8px);

font-size:35px;

width:max(74.45vw,750px);

}




.TypeOfLesson{

display:flex;
justify-content:center;
align-items:center;

font-size:35px;

margin-top:-40px;

	
}



.Subject{

font-size:35px;

font-weight:bold;

white-space:pre-wrap;

text-align:center;

}



.Auditorium{

justify-content:start;

position:relative;

left:min(-23.55vw,-235px);

top:-50px;

width:18vw;

}


.Auditorium>span{

white-space:pre;

}


.Teacher {

margin-top:max(2.2vh,15.4px);

white-space:pre-wrap;

text-align:center;

margin-bottom:max(2.2vh,15.4px);

}

.Exists{

display:none;

}




.Holiday{
display:flex;	
flex-direction: column;
align-items:center;	

font-size:25px;

font-weight:bold;	
	
}


.Holiday>p{

margin-top:2.3vh;

}

.Holiday>img{

height:max(70vh,400px);


}



@media(min-width:801px){

.Holiday{

font-size:35px;
}


}




body{

//visibility: hidden;

}


















